//== @import _variable.scss
@use './_variables.scss' as variable;
/*================================================================================================
                                  _global.scss [global style classes]
 ================================================================================================*/

//== @import font-family [Poppins]
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//@import _angular-mat-component-override.scss
@import url('./_mat-component-override.scss');

//== @import _grid.scss
@import url('./_grid.scss');

//== @import _typography.scss
@import url('./_typography.scss');

//== html | body
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: variable.$font-family-poppins;
  font-weight: variable.$font-weight-normal;
  font-size: variable.$font-size-16;
  line-height: 1.5;
  color: variable.$body-color;
  background-color: variable.$white-color;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//== button
button {
  font-family: variable.$font-family-poppins;
}

.button-mh-56 {
  min-height: variable.$button-min-height !important;
}

//== card
.card-box-shadow {
  box-shadow: variable.$card-box-shadow !important;
}

.card-border-radius {
  border-radius: variable.$card-border-radius !important;
}

//== background-shade
.background-shade {
  background: variable.$bg-shade-color;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/*================================================================================================
                                  _global.scss [pages vise common scss]
 ================================================================================================*/

/*=====================================
             auth pages                    
 ======================================*/

//== auth pages background
.auth-page-bg {
  background-image: url('../images/auth-page-bg.webp');
}

.login-with-other {
  position: absolute;
  top: -12px;
  background: variable.$white-color;
}

//== otp-verification page
.otp-verification-input {
  font-size: 25px;

  .mdc-text-field,
  .mdc-text-field--outlined {
    padding: 0px;
  }
}

/*=====================================
           password indicator                    
 ======================================*/

//======= indicator
.password-indicator {
  height: 10px;
  border-radius: 10px;
  border: solid 1px variable.$indicator-border-color;
  background-color: variable.$white-color;
  overflow: hidden;
  margin-bottom: 25px;
}

.password-indicator .password-indicator-bar {
  height: 100%;
  max-width: 100%;
  transition: width 200ms;
  -webkit-mask: linear-gradient(variable.$white-color 0 0);
  mask: linear-gradient(variable.$white-color 0 0);
}

.password-indicator .password-indicator-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: variable.$indicator-gradient;
}

//== indicator message
.password-indicator-message {

  .password-indicator-bar-message {
    border-radius: 4px;
  }
}

.default-indicator-message {
  background-color: variable.$dark-color !important;
  border: 1px solid variable.$dark-color;
  color: variable.$white-color;
}

.success-indicator-message {
  background-color: variable.$success-color !important;
  border: 1px solid variable.$success-color;
  color: variable.$white-color;
}

.danger-indicator-message {
  background-color: variable.$danger-color !important;
  border: 1px solid variable.$danger-color;
  color: variable.$white-color;
}

.warning-indicator-message {
  background-color: variable.$warning-color !important;
  border: 1px solid variable.$warning-color;
  color: variable.$white-color;
}