//== @import _variable.scss
@use './_variables.scss' as variable;
/*================================================================================================
                                  _global.scss [angular material component override]
 ================================================================================================*/

/*=====================================
       snackbar override                    
 ======================================*/

//== snackbar-colors
.snackbar-success .mdc-snackbar__surface {
    background-color: variable.$success-color !important;
    color: white !important;
}

.snackbar-danger .mdc-snackbar__surface {
    background-color: variable.$danger-color !important;
    color: white !important;
}

.snackbar-default .mdc-snackbar__surface {
    background-color: variable.$dark-color !important;
    color: white !important;
}

/*=====================================
       form validation override                    
 ======================================*/

//== form validations font size
.mat-mdc-form-field-error {
    font-size: variable.$font-size-11;
}

//== form validation * symbol hide
.mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
    display: none;
}

//== form validation label color gray
.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    color: variable.$label-color !important;
}