/*================================================================================================
                                  common variables for theming
 ================================================================================================*/
//== colors
$primary-color: #3f51b5; //default color
$secondary-color: #6c757d; // secondary color
$warning-color: #ffc107; // warning color
$success-color: #198754; // success color
$info-color: #0dcaf0; // info color
$danger-color: #dc3545; //danger color
$light-color: #f8f9fa; //light color
$dark-color: #212529; //dark color
$black-color: #000; // black color
$white-color: #fff; //white color