/*================================================================================================
                                  common variables for theming
 ================================================================================================*/
//== colors
$primary-color: #3f51b5;
$accent-color: #c722a3;
$warn-color: #dadd29;