/*================================================================================================
                                  common variables for theming
 ================================================================================================*/
//== colors
$primary-color: #3f51b5;
$secondary-color: #6c757d;
$warning-color: #ffc107;
$success-color: #198754;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #000;
$white-color: #fff;
$transparent-color: transparent;

//== body colors
$body-color: #000;
$body-bg-color: #F5F5F5;

//== headings variables
$heading-color: #000;
$heading-line-height: 1.2;
$heading-font-weight: 500;

//== button variables
$button-font-family: 'Poppins', sans-serif;
$button-min-height: 56px;

//== card variables
$card-box-shadow: #2f8fe812;
$card-border-radius: 20px;

//== font size
$font-size-12: 0.75rem;
$font-size-13: 0.813rem;
$font-size-14: 0.874rem;
$font-size-15: 0.938rem;
$font-size-16: 1rem;

//== font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//==password indicator
$indicator-border-color: #d8d8dd;
$indicator-gradient: linear-gradient(to right, #ae0142, #c14830, #f44820, #f7cf20, #01ae8f, #30c17c);

//== other global colors
$bg-shade-color: rgba(0, 0, 0, 0.5);