<!-- section-->
<section class="container-fluid min-vh-100 w-100 auth-page-bg">
  <!-- background-shade -->
  <div class="background-shade"></div>
  <!-- /background-shade -->
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-xxl-4 col-lg-5 col-md-8 col-12">
      <!-- mat card -->
      <mat-card class="p-sm-5 p-4 my-4 card-box-shadow card-border-radius">
        <!-- mat card header -->
        <mat-card-header class="d-flex justify-content-center text-center mb-5 p-0">
          <mat-card-title>
            <h1 class="m-0 fw-bold">On Record</h1>
          </mat-card-title>
          <mat-card-subtitle><span class="fw-bold text-dark">Sign Up</span> to join our
            community</mat-card-subtitle>
        </mat-card-header>
        <!-- /mat card header -->
        <!-- mat card actions -->
        <mat-card-actions class="p-0">
          <!-- login view form -->
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <!-- row -->
            <div class="row">
              <div class="col-12 mb-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="labels.firstName"></mat-label>
                  <input matInput formControlName="firstName">
                  @if(signUpForm.get("firstName")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="signUpForm.get('firstName')?.reset()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if (signUpForm.get("firstName")?.invalid) {
                  <mat-error>This is required</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12 mb-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="labels.lastName"></mat-label>
                  <input matInput formControlName="lastName">
                  @if(signUpForm.get("lastName")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="signUpForm.get('lastName')?.reset()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if (signUpForm.get("lastName")?.invalid) {
                  <mat-error>This is required</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12 mb-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="labels.emailAddress"></mat-label>
                  <input matInput formControlName="emailAddress">
                  @if(signUpForm.get("emailAddress")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="signUpForm.get('emailAddress')?.reset()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if (signUpForm.get("emailAddress")?.hasError("required")) {
                  <mat-error>This is required</mat-error>
                  }
                  @else if (signUpForm.get("emailAddress")?.hasError("email")) {
                  <mat-error>You must enter a valid email address</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12 mb-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="labels.mobileNumber"></mat-label>
                  <input matInput formControlName="mobileNumber" mask="+00 00000-00000" placeholder="+91 00000-00000">
                  @if(signUpForm.get("mobileNumber")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="signUpForm.get('mobileNumber')?.reset()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if (signUpForm.get("mobileNumber")?.hasError("required")) {
                  <mat-error>This is required</mat-error>
                  }
                  @else if (signUpForm.get("mobileNumber")?.hasError("pattern")) {
                  <mat-error>Invalid phone number format (+91 00000-00000)</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12 mb-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="labels.selectGender"></mat-label>
                  <mat-select formControlName="selectGender">
                    @for (item of labels.selectGenderList; track item) {
                    <mat-option value="one">{{item}}</mat-option>
                    } @empty {
                    <mat-option value="one">There are no items found.</mat-option>
                    }
                  </mat-select>
                  @if (signUpForm.get("selectGender")?.invalid) {
                  <mat-error>This is required</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12 mb-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="labels.password"></mat-label>
                  <input matInput formControlName="password" (input)="getPasswordValue()"
                    [type]="passwordVisibleIcon ? 'password' : 'text'">
                  @if(signUpForm.get("password")?.value){
                  <mat-icon class="cursor-pointer px-0" matSuffix (click)="passwordCloseIcon()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if(signUpForm.get("password")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="passwordVisibleIcon = !passwordVisibleIcon">
                    <span class="material-symbols-outlined">
                      {{passwordVisibleIcon ? 'visibility_off' : 'visibility'}}
                    </span>
                  </mat-icon>
                  }
                  @if (signUpForm.get("password")?.hasError("required")) {
                  <mat-error>This is required</mat-error>
                  }
                  <!-- @else if (signUpForm.get("password")?.hasError("pattern")) {
                  <mat-error>Password must be at least 6 characters long and contain at least one uppercase letter, one
                    lowercase letter, one number, and one special character</mat-error>
                  } -->
                </mat-form-field>
              </div>
              <div class="col-12 mb-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="labels.confirmPassword"></mat-label>
                  <input matInput formControlName="confirmPassword"
                    [type]="confirmPasswordVisibleIcon ? 'password' : 'text'">
                  @if(signUpForm.get("confirmPassword")?.value){
                  <mat-icon class="cursor-pointer px-0" matSuffix
                    (click)="signUpForm.get('confirmPassword')?.reset()"><span class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if(signUpForm.get("confirmPassword")?.value){
                  <mat-icon class="cursor-pointer" matSuffix
                    (click)="confirmPasswordVisibleIcon = !confirmPasswordVisibleIcon">
                    <span class="material-symbols-outlined">
                      {{confirmPasswordVisibleIcon ? 'visibility_off' : 'visibility'}}
                    </span>
                  </mat-icon>
                  }
                  @if (signUpForm.get("confirmPassword")?.hasError("required")) {
                  <mat-error>This is required</mat-error>
                  }@else if(signUpForm.get("confirmPassword")?.hasError('passwordMismatch')){
                  <mat-error>Password & confirm password must match</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12 mb-1">
                <!-- password indicator bar -->
                <div class="password-indicator card-box-shadow">
                  <div class="password-indicator-bar" [style.width.%]="indicatorWidth"></div>
                </div>
                <!-- /password indicator bar -->
                <!-- password indicator panel -->
                <div class="password-indicator-panel">
                  <div class="password-indicator-message mb-3">
                    <div
                      class="password-indicator-bar-message fs-13 d-flex align-items-center w-100 card-box-shadow p-2"
                      [ngClass]="{'default-color-message': trueConditionCount == 0, 'test-danger-message': trueConditionCount <= 2 && trueConditionCount > 0, 'test-warning-message': trueConditionCount > 2 && trueConditionCount <= 4, 'test-green-message': trueConditionCount == 5}">
                      @if (trueConditionCount == 0) {
                      <mat-icon>emoji_objects</mat-icon> <span class="ms-1">Let's build a strong password
                        together.</span>
                      }@else if (trueConditionCount <= 2 && trueConditionCount> 0) {
                        <mat-icon>emoji_objects</mat-icon> <span class="ms-1">Your password strength is weak.</span>
                        }@else if (trueConditionCount > 2 && trueConditionCount <= 4) { <mat-icon>
                          emoji_objects</mat-icon>
                          <span class="ms-1">Your password strength is average.</span>
                          }@else if (trueConditionCount ==5) {
                          <mat-icon>emoji_objects</mat-icon> <span class="ms-1">Your password strength is strong.</span>
                          }
                    </div>
                  </div>

                  <ul class="mt-0 px-2 fs-13">
                    <li class="mb-1 d-flex align-items-center"
                      [ngClass]="{'test-green': minLengthSix, 'test-danger': !minLengthSix && defaultColorDark, 'default-color' : !defaultColorDark}">
                      <mat-icon>
                        {{minLengthSix ? 'check_circle' : 'error'}}
                      </mat-icon><span class="ms-2">The minimum password length is 6 characters</span>
                    </li>
                    <li class="mb-1 d-flex align-items-center"
                      [ngClass]="{'test-green': containsUppercase, 'test-danger': !containsUppercase && defaultColorDark, 'default-color' : !defaultColorDark}">
                      <mat-icon>{{containsUppercase ? 'check_circle' : 'error'}}</mat-icon> <span class="ms-2">English
                        uppercase letters [A, B, C, … Z]</span>
                    </li>
                    <li class="mb-1 d-flex align-items-center"
                      [ngClass]="{'test-green': containsLowercase, 'test-danger': !containsLowercase && defaultColorDark, 'default-color' : !defaultColorDark}">
                      <mat-icon>{{containsLowercase ? 'check_circle' : 'error'}}</mat-icon> <span class="ms-2">English
                        lowercase letters [a, b, c, … z]</span>
                    </li>
                    <li class="mb-1 d-flex align-items-center"
                      [ngClass]="{'test-green': containsArabicNumerals, 'test-danger': !containsArabicNumerals && defaultColorDark, 'default-color' : !defaultColorDark}">
                      <mat-icon>{{containsArabicNumerals ? 'check_circle' : 'error'}}</mat-icon> <span
                        class="ms-2">Westernized
                        Arabic numerals [0, 1, 2, … 9]</span>
                    </li>
                    <li class="mb-1 d-flex align-items-center"
                      [ngClass]="{'test-green': containsSpecialCharacters, 'test-danger': !containsSpecialCharacters && defaultColorDark, 'default-color' : !defaultColorDark}">
                      <mat-icon>{{containsSpecialCharacters ? 'check_circle' : 'error'}}</mat-icon> <span
                        class="ms-2">Special
                        characters [!#$%^&*-?/~`]</span>
                    </li>
                  </ul>
                </div>
                <!-- /password indicator panel -->
              </div>
              <div class="col-12">
                <button mat-raised-button color="primary"
                  class="px-4 fs-16 w-100 button-mh-56">{{labels.signUpBtn}}</button>
              </div>
              <div class="col-12 mt-4 text-center">
                <span>Already a member?</span> <a routerLink="/login" class="ms-2 text-primary">Sign In</a>
              </div>
            </div>
            <!-- /row -->
          </form>
          <!-- /login view form -->
        </mat-card-actions>
        <!-- /mat card actions -->
      </mat-card>
      <!-- /mat card -->
    </div>
  </div>
</section>
<!-- /section-->