<!-- section-->
<section class="container-fluid min-vh-100 w-100 auth-page-bg">
  <!-- background-shade -->
  <div class="background-shade"></div>
  <!-- /background-shade -->
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-xxl-4 col-lg-5 col-md-8 col-12">
      <!-- mat card -->
      <mat-card class="p-sm-5 p-4 my-4 card-box-shadow card-border-radius">
        <!-- mat card header -->
        <mat-card-header class="d-flex justify-content-center text-center mb-5 p-0">
          <mat-card-title>
            <h1 class="m-0 fw-bold">On Record</h1>
          </mat-card-title>
          <mat-card-subtitle><span class="fw-bold text-dark">Sign Up</span> to join our
            community</mat-card-subtitle>
        </mat-card-header>
        <!-- /mat card header -->
        <!-- mat card actions -->
        <mat-card-actions class="p-0">
          <!-- login view form -->
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <!-- row -->
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="firstName"></mat-label>
                  <input matInput formControlName="firstName">

                  @if(signUpForm.get("firstName")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="signUpForm.get('firstName')?.reset()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if (signUpForm.get("firstName")?.invalid) {
                  <mat-error>This is required</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="lastName"></mat-label>
                  <input matInput formControlName="lastName">
                  @if(signUpForm.get("lastName")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="signUpForm.get('lastName')?.reset()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if (signUpForm.get("lastName")?.invalid) {
                  <mat-error>This is required</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="emailAddress"></mat-label>
                  <input matInput formControlName="emailAddress">
                  @if(signUpForm.get("emailAddress")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="signUpForm.get('emailAddress')?.reset()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if (signUpForm.get("emailAddress")?.hasError("required")) {
                  <mat-error>This is required</mat-error>
                  }
                  @else if (signUpForm.get("emailAddress")?.hasError("email")) {
                  <mat-error>You must enter a value</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="mobileNumber"></mat-label>
                  <input matInput formControlName="mobileNumber">
                  @if(signUpForm.get("mobileNumber")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="signUpForm.get('mobileNumber')?.reset()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if (signUpForm.get("mobileNumber")?.invalid) {
                  <mat-error>This is required</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="selectGender"></mat-label>
                  <mat-select formControlName="selectGender">
                    @for (item of selectGenderList; track item) {
                    <mat-option value="one">{{item}}</mat-option>
                    } @empty {
                    <mat-option value="one">There are no items found.</mat-option>
                    }
                  </mat-select>
                  @if (signUpForm.get("selectGender")?.invalid) {
                  <mat-error>This is required</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="password"></mat-label>
                  <input matInput formControlName="password" [type]="passwordVisibleIcon ? 'password' : 'text'">
                  @if(signUpForm.get("password")?.value){
                  <mat-icon class="cursor-pointer px-0" matSuffix (click)="signUpForm.get('password')?.reset()"><span
                      class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if(signUpForm.get("password")?.value){
                  <mat-icon class="cursor-pointer" matSuffix (click)="passwordVisibleIcon = !passwordVisibleIcon">
                    <span class="material-symbols-outlined">
                      {{passwordVisibleIcon ? 'visibility_off' : 'visibility'}}
                    </span>
                  </mat-icon>
                  }
                  @if (signUpForm.get("password")?.invalid) {
                  <mat-error>This is required</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label [innerText]="confirmPassword"></mat-label>
                  <input matInput formControlName="confirmPassword"
                    [type]="confirmPasswordVisibleIcon ? 'password' : 'text'">
                  @if(signUpForm.get("confirmPassword")?.value){
                  <mat-icon class="cursor-pointer px-0" matSuffix
                    (click)="signUpForm.get('confirmPassword')?.reset()"><span class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                  }
                  @if(signUpForm.get("confirmPassword")?.value){
                  <mat-icon class="cursor-pointer" matSuffix
                    (click)="confirmPasswordVisibleIcon = !confirmPasswordVisibleIcon">
                    <span class="material-symbols-outlined">
                      {{confirmPasswordVisibleIcon ? 'visibility_off' : 'visibility'}}
                    </span>
                  </mat-icon>
                  }
                  @if (signUpForm.get("confirmPassword")?.invalid) {
                  <mat-error>This is required</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-12 mt-1">
                <button mat-raised-button color="primary" class="px-4 fs-16 w-100 button-mh-56"
                  (click)="signUpForm.valid">{{signUpBtn}}</button>
              </div>
              <div class="col-12 mt-4 text-center">
                <span>Already a member?</span> <a routerLink="/login" class="ms-2 text-primary">Sign In</a>
              </div>
            </div>
            <!-- /row -->
          </form>
          <!-- /login view form -->
        </mat-card-actions>
        <!-- /mat card actions -->
      </mat-card>
      <!-- /mat card -->
    </div>
  </div>
</section>
<!-- /section-->