<!-- section-->
<section class="container-fluid min-vh-100 w-100 auth-page-bg">
  <!-- background-shade -->
  <div class="background-shade"></div>
  <!-- /background-shade -->
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-xxl-4 col-lg-5 col-md-8 col-12">
      <!-- mat card -->
      <mat-card class="p-sm-5 p-4 my-4 card-box-shadow card-border-radius">
        <!-- mat card header -->
        <mat-card-header class="d-flex justify-content-center text-center mb-5 p-0 px-4">
          <mat-card-title>
            <h1 class="m-0 fw-bold">On Record</h1>
          </mat-card-title>
          <mat-card-subtitle><span class="fw-bold text-dark">Forgot Password?</span> reset your password</mat-card-subtitle>
        </mat-card-header>
        <!-- /mat card header -->
        <!-- mat card actions -->
        <mat-card-actions class="p-0">
          <!-- login view form -->
          <form class="example-form">
            <!-- row -->
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email Address</mat-label>
                  <input matInput>
                  <mat-icon matSuffix><span class="material-symbols-outlined">
                      close
                    </span></mat-icon>
                </mat-form-field>
              </div>
              <div class="col-12 mt-1">
                <button mat-raised-button color="primary" class="px-4 fs-16 w-100 button-mh-56">Send Code</button>
              </div>
              <div class="col-12 mt-4 text-center">
                <span>Remember password?</span> <a href="#" class="ms-2 text-primary">Sign In</a>
              </div>
              <div class="col-12 my-5 position-relative text-center">
                <mat-divider></mat-divider>
                <span class="login-with-other fw-bold px-1 py-0">OR</span>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <button mat-stroked-button class="w-100 fs-13 h-auto mh-auto p-3">
                  <!-- svg -->
                  <svg viewBox="0 0 26 41" xmlns="http://www.w3.org/2000/svg" height="40px" width="50px">
                    <defs>
                      <clipPath id="gpkimf0u0a">
                        <path d="M1486 0v950H0V0h1486z" />
                      </clipPath>
                      <clipPath id="0zril450ab">
                        <path
                          d="M13.74 0a3.2 3.2 0 0 1 2.273.943 3.2 3.2 0 0 1 .943 2.273v5.217a3.21 3.21 0 0 1-2.995 3.205l-.221.008H2.667c-.15 0-.29.061-.394.169L0 14.218V3.216A3.2 3.2 0 0 1 .943.943 3.2 3.2 0 0 1 3.216 0H13.74z" />
                      </clipPath>
                      <clipPath id="22745mnbxc">
                        <path
                          d="M14.816 13.798H3.974L.93 17.018a.537.537 0 0 1-.93-.37V4.292A4.293 4.293 0 0 1 4.293 0h10.523a4.293 4.293 0 0 1 4.293 4.293v5.216a4.29 4.29 0 0 1-4.293 4.29zm.221-1.083a3.21 3.21 0 0 0 2.995-3.206V4.293a3.2 3.2 0 0 0-.943-2.273 3.2 3.2 0 0 0-2.273-.944H4.293a3.2 3.2 0 0 0-2.273.944 3.2 3.2 0 0 0-.944 2.273v11.001l2.274-2.403a.546.546 0 0 1 .393-.169h11.073z" />
                      </clipPath>
                      <clipPath id="tfzl6ni7qd">
                        <path
                          d="M1.785 1.01a.894.894 0 0 1-.887.782A.899.899 0 0 1 0 .898.9.9 0 0 1 .898 0c.494 0 .894.4.894.898zM1.07.955 1.08.897 1.07.839A.183.183 0 0 0 .955.723L.898.713a.185.185 0 0 0-.183.185.182.182 0 0 0 .355.057z" />
                      </clipPath>
                      <clipPath id="k4a0resg6e">
                        <path
                          d="M1.782 1.01A.894.894 0 0 1 0 .898a.895.895 0 1 1 1.789 0zM1.067.955l.009-.058-.009-.058A.183.183 0 0 0 .952.723L.894.713a.185.185 0 0 0-.182.185.182.182 0 0 0 .355.057z" />
                      </clipPath>
                      <clipPath id="p3dho82twf">
                        <path
                          d="M1.784 1.01a.898.898 0 0 1-.89.782A.894.894 0 0 1 0 .898C0 .4.4 0 .894 0a.9.9 0 0 1 .898.898zM1.067.955l.009-.058-.009-.058A.183.183 0 0 0 .952.723L.894.713a.185.185 0 0 0-.182.185.182.182 0 0 0 .355.057z" />
                      </clipPath>
                      <clipPath id="on9wvb7lpg">
                        <path
                          d="M19.532 0a3.58 3.58 0 0 1 3.58 3.58v6.381a.538.538 0 1 1-1.076 0v-6.38c0-.693-.28-1.314-.732-1.77a2.494 2.494 0 0 0-1.772-.735H3.58c-.692 0-1.317.28-1.772.735a2.497 2.497 0 0 0-.732 1.77v32.695c0 .693.28 1.317.732 1.773.455.452 1.08.731 1.772.731h15.952c.692 0 1.317-.28 1.772-.731.452-.456.732-1.08.732-1.773V25.987a.538.538 0 0 1 1.076 0v10.29a3.58 3.58 0 0 1-3.58 3.58H3.58A3.58 3.58 0 0 1 0 36.277V3.58A3.58 3.58 0 0 1 3.58 0z" />
                      </clipPath>
                      <clipPath id="2zwjxljaqh">
                        <path
                          d="M16.849 0c.14 0 .28.055.38.156.101.1.156.24.156.38v6.381a.538.538 0 1 1-1.076 0v-5.84H1.079v28.998h15.23v-7.132a.538.538 0 0 1 1.076 0v7.672a.536.536 0 0 1-.536.54H.539a.545.545 0 0 1-.539-.54V.537A.536.536 0 0 1 .54 0z" />
                      </clipPath>
                      <clipPath id="1fvy6l8ari">
                        <path
                          d="M3.9 2.1A1.953 1.953 0 0 1 0 1.954a1.953 1.953 0 1 1 3.906 0zm-1.078-.256a.882.882 0 0 0-.87-.768.88.88 0 0 0-.876.878.876.876 0 0 0 1.753 0z" />
                      </clipPath>
                    </defs>
                    <g clip-path="url(#gpkimf0u0a)" transform="translate(-526 -316)">
                      <g clip-path="url(#0zril450ab)" transform="translate(533.81 328.302)">
                        <path fill="#F1F3F5" d="M0 0h16.956v14.218H0V0z" />
                      </g>
                      <g clip-path="url(#22745mnbxc)" transform="translate(532.733 327.226)">
                        <path fill="#00000" d="M0 0h19.109v17.186H0V0z" />
                      </g>
                      <g clip-path="url(#tfzl6ni7qd)" transform="translate(536.405 333.32)">
                        <path fill="#00000" d="M0 0h1.792v1.792H0V0z" />
                      </g>
                      <g clip-path="url(#k4a0resg6e)" transform="translate(541.393 333.32)">
                        <path fill="#00000" d="M0 0h1.789v1.792H0V0z" />
                      </g>
                      <g clip-path="url(#p3dho82twf)" transform="translate(546.379 333.32)">
                        <path fill="#00000" d="M0 0h1.792v1.792H0V0z" />
                      </g>
                      <g clip-path="url(#on9wvb7lpg)" transform="translate(526.356 316.348)">
                        <path fill="#00000" d="M0 0h23.112v39.857H0V0z" />
                      </g>
                      <g clip-path="url(#2zwjxljaqh)" transform="translate(529.218 319.392)">
                        <path fill="#00000" d="M0 0h17.385v31.154H0V0z" />
                      </g>
                      <g clip-path="url(#1fvy6l8ari)" transform="translate(535.96 350.741)">
                        <path fill="#00000" d="M0 0h3.906v3.909H0V0z" />
                      </g>
                    </g>
                  </svg>
                  <!-- /svg -->
                  <div>Reset password with mobile number OTP</div>
                </button>
              </div>
            </div>
            <!-- /row -->
          </form>
          <!-- /login view form -->
        </mat-card-actions>
        <!-- /mat card actions -->
      </mat-card>
      <!-- /mat card -->
    </div>
  </div>
</section>
<!-- /section-->