<!-- container fluid-->
<div class="container-fluid min-vh-100 w-100 auth-page-bg">
  <!-- background-shade -->
  <div class="background-shade"></div>
  <!-- background-shade -->
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-xxl-4 col-lg-6 col-md-8 col-12">
      <!-- mat card -->
      <mat-card class="p-sm-5 p-4 my-4 card-box-shadow card-border-radius">
        <!-- mat card header -->
        <mat-card-header class="d-flex justify-content-center text-center mb-5 p-0 px-4">
          <mat-card-title>
            <h1 class="m-0 fw-bold">On Record</h1>
          </mat-card-title>
          <mat-card-subtitle><span class="fw-bold text-dark">Verification code</span> sent to +91
            896859XXXX</mat-card-subtitle>
        </mat-card-header>
        <!-- /mat card header -->
        <!-- mat card actions -->
        <mat-card-actions class="p-0">
          <!-- login view form -->
          <form [formGroup]="otpVerificationForm" (ngSubmit)="onSubmit()">
            <!-- row -->
            <div class="row px-3">
              <div class="col-2 p-1">
                <mat-form-field appearance="outline" class="w-100 otp-verification-input">
                  <input matInput maxlength="1" class="fw-bold text-center" formControlName="firstOtpControl"
                    (input)="onFocusNextInput($event, 0)" (keydown)="onFocusPreviousInput($event, 0)">
                </mat-form-field>
              </div>
              <div class="col-2 p-1">
                <mat-form-field appearance="outline" class="w-100 otp-verification-input">
                  <input matInput maxlength="1" class="fw-bold text-center" formControlName="secondOtpControl"
                    (input)="onFocusNextInput($event, 1)" (keydown)="onFocusPreviousInput($event, 1)">
                </mat-form-field>
              </div>
              <div class="col-2 p-1">
                <mat-form-field appearance="outline" class="w-100 otp-verification-input">
                  <input matInput maxlength="1" class="fw-bold text-center" formControlName="thirdOtpControl"
                    (input)="onFocusNextInput($event, 2)" (keydown)="onFocusPreviousInput($event, 2)">
                </mat-form-field>
              </div>
              <div class="col-2 p-1">
                <mat-form-field appearance="outline" class="w-100 otp-verification-input">
                  <input matInput maxlength="1" class="fw-bold text-center" formControlName="fourthOtpControl"
                    (input)="onFocusNextInput($event, 3)" (keydown)="onFocusPreviousInput($event, 3)">
                </mat-form-field>
              </div>
              <div class="col-2 p-1">
                <mat-form-field appearance="outline" class="w-100 otp-verification-input">
                  <input matInput maxlength="1" class="fw-bold text-center" formControlName="fifthOtpControl"
                    (input)="onFocusNextInput($event, 4)" (keydown)="onFocusPreviousInput($event, 4)">
                </mat-form-field>
              </div>
              <div class="col-2 p-1">
                <mat-form-field appearance="outline" class="w-100 otp-verification-input">
                  <input matInput maxlength="1" class="fw-bold text-center" formControlName="sixthOtpControl"
                    (input)="onFocusNextInput($event, 5)" (keydown)="onFocusPreviousInput($event, 5)">
                </mat-form-field>
              </div>
            </div>
            <!-- /row -->
            <div class="row" style="position: absolute;margin-top: -20px;margin-left: 0px;">
              <div class="col-12">
                @if (incorrectOtpEnter == true) {
                <mat-error>Incorrect OTP entered</mat-error>
                }
              </div>
            </div>
            <!-- row -->
            <div class="row">
              <div class="col-12 mt-1">
                <button mat-raised-button color="primary" class="px-4 fs-16 w-100 button-mh-56">
                  <span [innerText]="labels.verifyCodeBtn"></span>
                </button>
              </div>
              <div class="col-12 mt-4 text-center">
                <span>Didn't receive an OTP?</span> <a href="#" class="ms-2 text-primary">Resend Code</a>
              </div>
            </div>
          </form>
          <!-- /login view form -->
        </mat-card-actions>
        <!-- /mat card actions -->
      </mat-card>
      <!-- /mat card -->
    </div>
  </div>
</div>
<!-- /container fluid-->