.otp-verification-input{
    font-size: 25px;

    .mdc-text-field, .mdc-text-field--outlined{
        padding:0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}