/*================================================================================================
                                  common variables for theming
 ================================================================================================*/
//== colors
$primary-color: #3f51b5;
$secondary-color: #bf40a8;
$warning-color: #e9af0b;
$success-color: #096e09;
$danger-color: #ba1a1a;
$light-color: #f8f9fa;
$dark-color: #000;
$white-color: #fff;
$transparent-color: transparent;
$border-color:#495057;
$label-color:#00000099;

//== body colors
$body-color: #000;
$font-family-poppins: 'Poppins', sans-serif;

//== headings variables
$heading-color: #000;
$heading-line-height: 1.2;
$heading-font-weight: 500;

//== button variables
$button-min-height: 56px;

//== card variables
$card-box-shadow: 0 4px 20px #2f8fe812;
$card-border-radius: 20px;

//== font size
$font-size-10: 0.625rem;
$font-size-11: 0.688rem;
$font-size-12: 0.75rem;
$font-size-13: 0.813rem;
$font-size-14: 0.874rem;
$font-size-15: 0.938rem;
$font-size-16: 1rem;

//== font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//== password indicator
$indicator-border-color: #d8d8dd;
$indicator-gradient: linear-gradient(to right, #ba1a1a, #e9af0b, #096e09);

//== box shadow
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);

//== other global colors
$bg-shade-color: rgba(0, 0, 0, 0.5);
