// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// @import _variable.scss
@use 'assets/scss/_variables.scss' as variable;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define your custom primary color directly


// Assign the custom primary color to the primary variable in the theme
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $custom-color: mat.define-palette((default: #FF5733), 100%);
$on-record-primary: (
  default: variable.$primary-color,
);
$on-record-accent: (
  default: variable.$secondary-color,
);
$on-record-warn: (
  default: variable.$warning-color,
);
$on-record-success: (
  default: variable.$success-color,
);
$on-record-info: (
  default: variable.$info-color,
);
$on-record-danger: (
  default: variable.$danger-color,
);
$on-record-light: (
  default: variable.$light-color,
);
$on-record-dark: (
  default: variable.$dark-color,
);
$on-record-black: (
  default: variable.$black-color,
);
$on-record-white: (
  default: variable.$white-color,
);



// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$on-record-theme: mat.define-light-theme((color: (primary: $on-record-primary,
        accent: $on-record-accent,
        warn: $on-record-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($on-record-theme);

/* You can add global styles to this file, and also import other style files */

//@import global style
@import url('assets/scss/_global.scss');